/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page,
.dashboard-content {
  padding: 20px;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 15px;
  height: 100vh;
  position: fixed;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 210px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}